# Project
.project
.settings
.vscode
.idea

# Executable
ip-echo
ip-echo.exe

# mac crap
.DS_Store

# livereload helper
gin-bin

# Logs
logs

*.log

# Runtime data
pids
*.pid
*.seed
application.pid

# SSL/TLS
server.crt
server.key

# JSON Files
*.json

.history/