{{define "title"}}{{.Title}}{{end}}
{{define "content"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 pt-5 pb-2">
                        <div class="card">
                            <div class="card-header">
                                Your IP
                            </div>
                            <div class="card-body">
                                <h1 class="mx-auto">{{.Data.IP}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-5 pb-2">
                        <div class="card">
                            <div class="card-header">
                                Country
                            </div>
                            <div class="card-body">
                                <h1 class="mx-auto">{{.Data.Country}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-3 pb-5">
                        <div class="card">
                            <div class="card-header">
                                User Agent
                            </div>
                            <div class="card-body">
                                <h4 class="mx-auto">{{.Data.UserAgent}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 py-5">
                        <div class="card">
                            <div class="card-body">
                                <h5>About this tool</h5>
                                <p>
                                    IP Reveal is a Golang based tool for displaying your public IP address.<br/>
                                </p>
                                <h5>How to use</h5>
                                <p>
                                <ul>
                                    <li>Using web browser - go to https://ip.johnpili.com. You are looking at it
                                        right now
                                    </li>
                                    <li>Curl with JSON result - <code>curl https://ip.johnpili.com/json</code></li>
                                    <li>Curl with IP only text result - <code>curl https://ip.johnpili.com/ip</code>
                                    </li>
                                </ul>
                                </p>
                                <p>
                                    Source at <a href="https://github.com/johnpili/ip-reveal" target="_blank">https://github.com/johnpili/ip-reveal</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "scripts"}}
{{end}}