{{define "title"}}{{.Title}}{{end}}
{{define "content"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 pt-5 pb-2">
                        <div class="card">
                            <div class="card-header">
                                Your IP
                            </div>
                            <div class="card-body">
                                <h1 class="mx-auto">{{.IP}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-5 pb-2">
                        <div class="card">
                            <div class="card-header">
                                Country
                            </div>
                            <div class="card-body">
                                <h1 class="mx-auto">{{.Country}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-3 pb-5">
                        <div class="card">
                            <div class="card-header">
                                User Agent
                            </div>
                            <div class="card-body">
                                <h4 class="mx-auto">{{.UserAgent}}</h4>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Google Ads Here -->                                               
                        <!--<ins class="adsbygoogle" style="display:block" 
                            data-ad-client="ca-pub-7936677155683743" 
                            data-ad-slot="3383660675"
                            data-ad-format="auto"
                            data-full-width-responsive="true"></ins>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 py-5">
                        <div class="card">
                            <div class="card-body">
                                <h5>About this tool</h5>
                                <p>
                                    IP Echo is a Golang based tool for displaying your public IP address.<br />
                                </p>
                                <h5>How to use</h5>
                                <p>
                                    <ul>
                                        <li>Using web browser - go to https://ip.johnpili.com. You are looking at it
                                            right now</li>
                                        <li>Curl with JSON result - <code>curl https://ip.johnpili.com/json</code></li>
                                        <li>Curl with IP only text result - <code>curl https://ip.johnpili.com/ip</code>
                                        </li>
                                    </ul>
                                </p>
                                <p>
                                    You can checkout the source at <a href="https://github.com/johnpili/ip-echo"
                                        target="_blank">https://github.com/johnpili/ip-echo</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "scripts"}}
<!--<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>-->
<script type="text/javascript">
    var sharedEvents = new Vue();
    var app = new Vue({
        el: "#root",
        data: {
            ip: "",
            userAgent: "",
            ipCountry: "",
        },
        computed: {
        },
        methods:
        {
        },
        beforeMount() {
            this.ip = "{{.IP}}"
            this.userAgent = "{{.UserAgent}}"
            this.ipCountry = "{{.IPCountry}}"
        },
        mounted() {
        }
    });
</script>
{{end}}